%h1 どのグループに所属していますか？選択してください。

%table
  %tr
    %th Name
    %th
    %th
    %th

  = form_tag(action: "select") do
    = select :value, :value, @groups.map{|t| [t.name, t.id]}
    = submit_tag("save")




  / %tr
  /   %td= group.name
  /   %td= link_to 'Show', group
  /   %td= link_to 'Edit', edit_group_path(group)
  /   %td= link_to 'Destroy', group, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

