.content--public
  .content__title
    display: table-cell
    vertical-align: middle
    text-align: center
    color: white
    font-size: 120px
    font-family: serif

  // .content__description
  //   display: table-cell
  //   vertical-align: middle
  //   text-align: center
